@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.woff2') format('woff2');
}

body {
  margin: 0;
  background: linear-gradient(180deg, white,#A2CAFF);
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2 {
  font-family: 'Inter';
  font-weight: 700;
  color: var(--text-h);
  line-height: 1em;
  text-align:center;
}

h1 {
  font-family: 'Inter';
  font-size: 56px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 48px;
    margin: 20px 0;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }
}
h2 {
  font-family: 'Inter';
  opacity: 1;
  font-weight: 500;
  font-size: 24px;
  line-height: 118%;
  margin: 0 0 24px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

p {
  font-family: 'Inter';
  font-weight: 300;
  color: var(--text-p);
  line-height: 1.5em;
}

/*Glass Effect is scrapped but its actually just the box card thing*/
.GlassContainer {
    z-index: 1;
    flex: 1;
    width: 90vw;
    max-width: 70rem;
    min-height: 50vh;
    max-height: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    border-inline: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 1px 5px 3px rgba(154, 160, 185, 0.26), 0 15px 30px rgba(166, 173, 201, 0.134);

    @media (max-width: 768px) {
      width: 90vw;
      max-width: 80vw;
      margin: 0;

    }
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, #0D00FF, #76CFFF);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 0.3rem;
}

.topbar p {
  font-family: 'Inter';
  font-weight: 500;
  color: white;
  margin-left: 1rem;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.fa-solid.fa-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.8rem;

  @media (max-width: 768px) {
    font-size: 1.3rem;
    right: 0.5rem;
  }
}

.GlassContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 4rem;
}

.welcome_message {
  margin: 2rem;

  @media (max-width: 768px) {
    margin-top: 5vh;
  }
}

.hello_message {
  margin-top: -2rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    margin: 0vh;
  }
}

.socialmedia{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4vh;

   @media (max-width: 768px) {
    margin: 2rem;
    
  }
}

.socialmedia a{
  color: black;
  transition-duration: 0.1s;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.socialmedia :hover {
  transform: scale(1.05);
}

.socialmedia :active {
  transform: translateY(1px);
}

.buttons_group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh;
  gap: 3rem;
  width: 80%;

  @media (max-width: 768px) {
    display: grid;
    gap: 1rem;
  }
}

.work_button,
.about_button,
.contact_button {
  padding: 0.4rem 1.2rem;
  background-color: white;
  border: 3px solid rgba(0, 0, 0, 0.5);
  color: black;
  font-family: 'Inter';
  font-size: 1.3rem;
  font-weight: 300;
  box-shadow: -3px 3px black;
  cursor: pointer;
  transition-duration: 0.08s;

  @media (max-width: 768px) {
    padding: 0.3rem 3rem;
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .fa-solid.fa-bars:hover,
  .contact_button:hover,
  .about_button:hover,
  .work_button:hover {
    transform: scale(1.05);
  }
}

.about_button:active,
.work_button:active,
.contact_button:active {
  box-shadow: -1px 1px black;
  transform: translateY(1px);
}

footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer span {
  font-family: 'Inter';
  font-weight: 300;
  font-size: x-small;
  opacity: 0.5;
  margin-bottom: 0.2rem;
}
